.customer-reviews-header {
    text-align: center;
    padding: 40px 0; // Provide some vertical padding
    background-color: #f7f7f7; // Light grey background as seen in the image
    
  
    h1 {
      font-size: 24px; // Large font size for visibility
      color: #333; // Dark grey color for the text
      margin: 0 0 10px 0; // No margin around except at the bottom
    }
  
    p {
      font-size: 18px; // Slightly smaller font size for the subtitle
      color: #666; // Lighter grey color for the subtitle
    }
  }
  