.our-partners {
  text-align: center;
  padding: 40px 0;

  h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .partner-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(5, minmax(0, 1fr)); // Default to 5 columns for large screens

    .partner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-right: 1px solid #ccc; // Vertical separator

      &:last-child {
        border-right: none; // Remove border for the last item
      }

      .logo {
        width: 80px; // Set logo width
        height: auto; // Maintain aspect ratio
        margin-right: 10px; // Space between logo and text
      }

      .info {
        text-align: left;

        .name {
          font-size: 14px;
          color: #333;
          margin-bottom: 5px;
        }

        .description {
          font-size: 12px;
          color: #666;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .partner-list {
      grid-template-columns: repeat(3, minmax(0, 1fr)); // 3 columns for medium screens
      justify-content: center; // Center items when fewer columns
    }
  }

  @media (max-width: 768px) {
    .partner-list {
      grid-template-columns: repeat(2, minmax(0, 1fr)); // 2 columns for small screens
      justify-content: center; // Center items when fewer columns
    }
  }

  @media (max-width: 480px) {
    .partner-list {
      grid-template-columns: repeat(2, minmax(0, 1fr)); // 2 columns for very small screens
      justify-content: center; // Center items when fewer columns

      .partner {
        padding: 5px;
        border-right: none; // Remove border on smaller screens
        .logo {
          width: 50px;
        }

        .info {
          .name {
            font-size: 10px;
          }

          .description {
            font-size: 8px;
          }
        }
      }
    }
  }
}
