html, body {
  width: 100%;
  overflow-x: hidden; // This prevents horizontal scrolling
  margin: 0;
  padding: 0;
}

// Ensure that the root div also does not create overflow
#root {
  width: 100%;
  overflow-x: hidden;
}

.background-image {
  height: 100vh; // This ensures the div takes the full viewport height
  width: 100vw;  // This ensures the div takes the full viewport width
  background: url('./Assets/6g.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;   
  text-align: center;
  margin: 0;      
  padding: 0;     

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  // Responsive design adjustments
  @media (max-width: 1200px) {
    height: 80vh;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    height: 60vh;
    padding: 10px;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    height: 50vh;
    padding: 20px;

    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .open-popup-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-inner {   
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    position: relative;

    h2 {
      margin: 0 0 10px;
    }

    p {
      margin: 0 0 20px;
    }

    .close-popup-btn {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      position: absolute;
      top: 10px;
      right: 10px;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
